In [1]:
import matplotlib as plt
import seaborn as sns
import pandas as pd
import numpy as np

%matplotlib inline

In [8]:
import os

# 경로 상의 파일 확인
os.listdir('dataset')

['sample_submission.csv', 'test.csv', 'train.csv']

In [9]:
# 데이터 불러오기 
bicycle = pd.read_csv('dataset/train.csv') 
bicycle.head()

,date_time,wind_direction,sky_condition,precipitation_form,wind_speed,humidity,low_temp,high_temp,Precipitation_Probability,number_of_rentals
0,2018-04-01,207.500,4.000,0.000,3.050,75.000,12.600,21.000,30.000,22994
1,2018-04-02,208.317,2.950,0.000,3.278,69.833,12.812,19.000,19.500,28139
2,2018-04-03,213.516,2.911,0.000,2.690,74.879,10.312,15.316,19.113,26817
3,2018-04-04,143.836,3.692,0.425,3.138,71.849,8.312,12.368,43.493,26034
4,2018-04-05,95.905,4.000,0.723,3.186,73.784,5.875,10.421,63.378,2833

In [14]:
for i in enumerate(bicycle.columns):
    print(i)

(0, 'date_time')
(1, 'wind_direction')
(2, 'sky_condition')
(3, 'precipitation_form')
(4, 'wind_speed')
(5, 'humidity')
(6, 'low_temp')
(7, 'high_temp')
(8, 'Precipitation_Probability')
(9, 'number_of_rentals')

In [16]:
sum(bicycle['date_time'].isna())

0

In [19]:
bicycle.isna()

,date_time,wind_direction,sky_condition,precipitation_form,wind_speed,humidity,low_temp,high_temp,Precipitation_Probability,number_of_rentals
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
268,False,False,False,False,False,False,False,False,False,False
269,False,False,False,False,False,False,False,False,False,False
270,False,False,False,False,False,False,False,False,False,False
271,False,False,False,False,False,False,False,False,False,False
272,False,False,False,False,False,False,False,False,False,False

In [ ]:
# 데이터 결측치 확인
def chk_missing_col(dataframe):
    cnt_missing_col = 0
    
    # enumerate : (0, idx0), (1, idx1), ...
    for i, col in enumerate(bicycle.columns):
        missing_values = sum(bicycle[col].isna())
        
        # na 가 하나 이상이면 True
        is_missing = True if missing_values >= 1 else False